h1 {
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
    color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 150px;
    text-align: center;
}